In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('movies_metadata.csv')

C:\Users\Shiva Prasad Reddy\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df['overview'].describe()

count                  44512
unique                 44307
top       No overview found.
freq                     133
Name: overview, dtype: object

In [5]:
df['overview'] = df['overview'].fillna("")

In [6]:
df['overview'].describe()

count     45466
unique    44308
top
freq        954
Name: overview, dtype: object

In [7]:
df['tagline'].describe()

count                      20412
unique                     20283
top       Based on a true story.
freq                           7
Name: tagline, dtype: object

In [8]:
df['tagline'] = df['tagline'].fillna("")

In [9]:
df['tagline'].describe()

count     45466
unique    20284
top
freq      25054
Name: tagline, dtype: object

In [10]:
df['tagline']

0
1                Roll the dice and unleash the excitement!
2        Still Yelling. Still Fighting. Still Ready for...
3        Friends are the people who let you be yourself...
4        Just When His World Is Back To Normal... He's ...
5                                 A Los Angeles Crime Saga
6        You are cordially invited to the most surprisi...
7                                   The Original Bad Boys.
8                               Terror goes into overtime.
9                     No limits. No fears. No substitutes.
10       Why can't the most powerful man in the world h...
11
12                          Part Dog. Part Wolf. All Hero.
13       Triumphant in Victory, Bitter in Defeat. He Ch...
14       The Course Has Been Set. There Is No Turning B...
15                        No one stays at the top forever.
16                Lose your heart and come to your senses.
17       Twelve outrageous guests. Four scandalous requ...
18                 New animals. New adventures. Same hair.
19                             Get on, or GET OUT THE WAY!
20       The mob is tough, but itâ€™s nothing like show b...
21       One man is copying the most notorious killers ...
22       In the shadows of life, In the business of dea...
23       An extraordinary encounter with another human ...
24                          I Love You... The Way You Are.
25                         Envy, greed, jealousy and love.
26       In every woman there is the girl she left behind.
27
28               Where happily ever after is just a dream.
29       In 1930's Shanghai violence was not the proble...
                               ...
45436                                       Action, Horror
45437                 The Heart Wants What The Heart Wants
45438                          The movie about Andre Hazes
45439                 RAPTUROUS BEAUTY!...FURY OF A BEAST!
45440
45441                              Too Cool For The Rules!
45442
45443
45444
45445
45446
45447
45448
45449                   Celebrate Lumpy's First Halloween.
45450
45451
45452
45453
45454                            What happened last night?
45455
45456                                  Meet...The CREEPER!
45457
45458    Do you know what happened 50 years before "The...
45459
45460
45461           Rising and falling between a man and woman
45462
45463                               A deadly game of wits.
45464
45465
Name: tagline, Length: 45466, dtype: object

In [11]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
5        [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6        [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8        [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9        [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11       [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12       [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13       [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18       [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19       [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20       [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21       [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23       [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                           [{'id': 18, 'name': 'Drama'}]
26       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27       [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28       [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29       [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
                               ...
45436    [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
45437    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
45438                        [{'id': 18, 'name': 'Drama'}]
45439    [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
45440    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45441                       [{'id': 35, 'name': 'Comedy'}]
45442                                                   []
45443    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45444                      [{'id': 14, 'name': 'Fantasy'}]
45445    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45446    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45447                                                   []
45448                                                   []
45449    [{'id': 16, 'name': 'Animation'}, {'id': 10751...
45450    [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
45451    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45452                  [{'id': 99, 'name': 'Documentary'}]
45453    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
45454    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45455                                                   []
45456    [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                       [{'id': 27, 'name': 'Horror'}]
45459             [{'id': 878, 'name': 'Science Fiction'}]
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [12]:
def extract_genres(data):
    genres_list = []
    for row in data:
        genres_list.append(row['name'])
    return genres_list

In [13]:
from ast import literal_eval
df['genres'] = df['genres'].apply(literal_eval)

In [14]:
df['genres'] = df['genres'].apply(extract_genres)

In [15]:
df['genres']

0                        [Animation, Comedy, Family]
1                       [Adventure, Fantasy, Family]
2                                  [Romance, Comedy]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]
5                   [Action, Crime, Drama, Thriller]
6                                  [Comedy, Romance]
7                 [Action, Adventure, Drama, Family]
8                      [Action, Adventure, Thriller]
9                      [Adventure, Action, Thriller]
10                          [Comedy, Drama, Romance]
11                                  [Comedy, Horror]
12                    [Family, Animation, Adventure]
13                                  [History, Drama]
14                               [Action, Adventure]
15                                    [Drama, Crime]
16                                  [Drama, Romance]
17                                   [Crime, Comedy]
18                        [Crime, Comedy, Adventure]
19                           [Action, Comedy, Crime]
20                         [Comedy, Thriller, Crime]
21                                 [Drama, Thriller]
22              [Action, Adventure, Crime, Thriller]
23       [Drama, Fantasy, Science Fiction, Thriller]
24                                  [Drama, Romance]
25                                           [Drama]
26                           [Comedy, Drama, Family]
27                                  [Drama, Romance]
28             [Fantasy, Science Fiction, Adventure]
29                                    [Drama, Crime]
                            ...
45436            [Action, Mystery, Thriller, Horror]
45437           [Family, Animation, Romance, Comedy]
45438                                        [Drama]
45439                       [Drama, Fantasy, Horror]
45440                      [Drama, Family, TV Movie]
45441                                       [Comedy]
45442                                             []
45443             [Comedy, Fantasy, Science Fiction]
45444                                      [Fantasy]
45445                              [Fantasy, Comedy]
45446                              [Fantasy, Comedy]
45447                                             []
45448                                             []
45449                            [Animation, Family]
45450                    [Fantasy, Action, Thriller]
45451                              [Comedy, Fantasy]
45452                                  [Documentary]
45453                       [Crime, Drama, Thriller]
45454                                [Comedy, Drama]
45455                                             []
45456                    [Horror, Mystery, Thriller]
45457                              [Mystery, Horror]
45458                                       [Horror]
45459                              [Science Fiction]
45460                       [Drama, Action, Romance]
45461                                [Drama, Family]
45462                                        [Drama]
45463                      [Action, Drama, Thriller]
45464                                             []
45465                                             []
Name: genres, Length: 45466, dtype: object

In [16]:
def text_dump(data):
    return data['original_title'] + ' ' + data['overview'] + ' '  + data['tagline'] + ' ' .join(data['genres'])
df['unprocesses_text_col'] = df.apply(text_dump, axis=1)
df['unprocesses_text_col'][23455]

'Scooby-Doo! WrestleMania Mystery The mystery begins when Shaggy and Scooby win tickets to "WrestleMania" and convince the crew to go with them to WWE City. But this city harbors a spooky secret - a ghastly Ghost Bear holds the town in his terrifying grip! To protect the coveted WWE Championship Title, the gang gets help from WWE Superstars like John Cena, Triple H, Sin Cara, Brodus Clay, AJ Lee, The Miz and Kane. Watch Scooby and the gang grapple with solving this case before it\'s too late. Animation Comedy Family Mystery'

In [19]:
from nltk.corpus import stopwords
import re
df.unprocesses_text_col = df.unprocesses_text_col.apply(lambda x: x.lower())
df['unprocesses_text_col'][23455]

'scooby-doo! wrestlemania mystery the mystery begins when shaggy and scooby win tickets to "wrestlemania" and convince the crew to go with them to wwe city. but this city harbors a spooky secret - a ghastly ghost bear holds the town in his terrifying grip! to protect the coveted wwe championship title, the gang gets help from wwe superstars like john cena, triple h, sin cara, brodus clay, aj lee, the miz and kane. watch scooby and the gang grapple with solving this case before it\'s too late. animation comedy family mystery'

In [21]:
df['unprocesses_text_col'] = df['unprocesses_text_col'].str.replace('[^\w\s]','')
df['unprocesses_text_col'][23455]

'scoobydoo wrestlemania mystery the mystery begins when shaggy and scooby win tickets to wrestlemania and convince the crew to go with them to wwe city but this city harbors a spooky secret  a ghastly ghost bear holds the town in his terrifying grip to protect the coveted wwe championship title the gang gets help from wwe superstars like john cena triple h sin cara brodus clay aj lee the miz and kane watch scooby and the gang grapple with solving this case before its too late animation comedy family mystery'

In [45]:
cachedStopWords = stopwords.words("english")

def removeStopWords(text):
        text = ' '.join([word for word in text.split() if word not in cachedStopWords])
        return text

df['processed_text_col'] = df['unprocesses_text_col'].apply(removeStopWords)
df['processed_text_col'][23455]

'scoobydoo wrestlemania mystery mystery begins shaggy scooby win tickets wrestlemania convince crew go wwe city city harbors spooky secret ghastly ghost bear holds town terrifying grip protect coveted wwe championship title gang gets help wwe superstars like john cena triple h sin cara brodus clay aj lee miz kane watch scooby gang grapple solving case late animation comedy family mystery'

In [46]:
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize
stemmer = SnowballStemmer('english')

def stemmerk(text):
    words = word_tokenize(text)
    return ' '.join([stemmer.stem(w) for w in words])
df['processed_text_col'] = df['processed_text_col'].apply(stemmerk)
df['processed_text_col'][23455]

'scoobydoo wrestlemania mysteri mysteri begin shaggi scoobi win ticket wrestlemania convinc crew go wwe citi citi harbor spooki secret ghast ghost bear hold town terrifi grip protect covet wwe championship titl gang get help wwe superstar like john cena tripl h sin cara brodus clay aj lee miz kane watch scoobi gang grappl solv case late anim comedi famili mysteri'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()
count_matrix = count.fit_transform(df['processed_text_col'])

In [52]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer()
train_tfidf = tfidf_transformer.fit_transform(count_matrix)

In [154]:
import re
def movieList(entry):
    entry = entry.lower()
    entry = re.sub(r'[^\w\s]','',entry)
    entry = removeStopWords(entry)
    entry = stemmerk(entry)
    entry_count_matrix = count.transform([entry])
    entry_tf_idf = tfidf_transformer.transform(entry_count_matrix)
    similarity_score = cosine_similarity(entry_tf_idf, train_tfidf)
    sorted_indexes = np.argsort(similarity_score).tolist()
    return df[['original_title', 'overview']].iloc[sorted_indexes[0][-10:]]

In [160]:
movies = movieList("batman")
movies

,original_title,overview
15511,Batman: Under the Red Hood,Batman faces his ultimate challenge as the mys...
3095,Batman: Mask of the Phantasm,An old flame of Bruce Wayne's strolls into tow...
18139,Batman and Robin,This 15-chapter serial pits Batman and Robin a...
41983,Batman: Strange Days,"Celebrating Batmanâ€™s 75th anniversary, DC Ente..."
43779,Batman & Bill,"Everyone thinks that Bob Kane created Batman, ..."
20232,"Batman: The Dark Knight Returns, Part 2",Batman has stopped the reign of terror that Th...
1328,Batman Returns,"Having defeated the Joker, Batman now faces th..."
21194,Batman Unmasked: The Psychology of the Dark Kn...,Delve into the world of Batman and the vigilan...
40974,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,Superman wants Batman to join his new superher...
41982,Batman Beyond Darwyn Cooke's Batman 75th Anniv...,Terry faces off against a much younger Batman

In [170]:
import json

In [165]:
mList = []
for movie in movies:
    movieDict = {
        'Title': movie[0],
        'Overview': movie['overview']}
    mList.append(movieDict)
return json.dumps(mList)

TypeError: string indices must be integers

In [ ]:
movie_name = []
movie_description = []
retrive_data = {}
for result_index in range(5):
    movie_name.append(self.MovieData.loc[self.sorted_similarity[result_index],'title'])
    movie_description.append(self.MovieData.loc[self.sorted_similarity[result_index],'overview'])
    retrive_data.update({"Movie":movie_name})
    retrive_data.update({"Description": movie_description})
    return  retrive_data